/* Основные стили сброса */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для фона */
body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Фоновой блок */
.hero-section {
    background-image: url('https://pixabay.com/ru/photos/%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D1%8C%D1%8F-%D0%B4%D0%BE%D1%80%D0%BE%D0%B6%D0%BA%D0%B0-815297/'); /* Поменяйте URL на ссылку на нужное изображение */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Стили заголовка */
.hero-content h1 {
    font-size: 3em;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Стили для описания */
.description {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.description p {
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
